<?php
declare(strict_types=1);

use Msts\InvoiceMe\Block\Form;
use Msts\InvoiceMe\Gateway\Request\TransactionDetails;

/** @var Form $block */
?>
<?php if ($block->isCustomerActiveBuyer()): ?>
    <fieldset class="admin__fieldset payment-method"
              id="payment_form_<?= $block->escapeHtml($block->getMethodCode()) ?>" style="display: none;">
        <div class="admin__field">
            <label for="invoiceme_po_number"
                   class="admin__field-label"><span><?= $block->escapeHtml(__('Purchase Order Number')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" id="po_number" name="payment[invoiceme_po_number]"
                       title="<?= $block->escapeHtml(__("Purchase Order Number")) ?>" class="admin__control-text"
                       value="<?= /* @noEscape */ $block->getInfoData('invoiceme_po_number') ?>"
                       maxlength="<?= /* @noEscape */ TransactionDetails::FORM_FIELD_PO_NUMBER_MAXIMUM_LENGTH ?>"/>
            </div>
        </div>
        <div class="admin__field">
            <label for="invoiceme_notes" class="admin__field-label"><span><?= $block->escapeHtml(__('Notes')) ?></span></label>
            <div class="admin__field-control">
            <textarea id="invoiceme_notes" name="payment[invoiceme_notes]"
                      title="<?= $block->escapeHtml(__("Notes")) ?>" class="admin__control-text"
                      rows="2"
                      maxlength="<?= /* @noEscape */ TransactionDetails::FORM_FIELD_NOTES_MAXIMUM_LENGTH ?>"><?= /* @noEscape */ $block->getInfoData('invoiceme_notes') ?></textarea>
            </div>
        </div>
    </fieldset>
<?php else: ?>
    <script>
        require([
            'jquery',
            'jquery/validate',
            'domReady!'
        ], function ($) {

            var config = {
                validatorName: 'validate-invoiceme-not-active-buyer',
                paymentMethodCode: "<?= $block->escapeHtml($block->getMethodCode()) ?>",
                observerContainer: '#order-billing_method_form',
                message: "<?= $block->escapeHtml(__($block->getValidationMessage())) ?>"
            };

            var addCustomValidationClass = function () {
                $('input[name="payment[method]"]').addClass(config.validatorName);
            };

            var observer = new MutationObserver(addCustomValidationClass);
            observer.observe($(config.observerContainer)[0], {attributes: false, childList: true, subtree: true});

            addCustomValidationClass();

            $.validator.addMethod(
                config.validatorName,
                function (value, element) {
                    return !(value === config.paymentMethodCode)
                },
                config.message
            );

            $('#edit_form').on('changePaymentMethod', function (e, methodCode) {
                var paymentMethodValidationMessage = $(this).find('.mage-error[for="payment[method]"]');
                if (!paymentMethodValidationMessage) return;

                if (
                    methodCode != config.paymentMethodCode
                    && paymentMethodValidationMessage.html() === $('<div>').html(config.message).html()
                ) {
                    paymentMethodValidationMessage.hide();
                } else {
                    paymentMethodValidationMessage.show();
                }

            });
        });
    </script>
<?php endif; ?>
