<?php
declare(strict_types=1);

use Magento\Framework\View\Element\Template;
use Msts\InvoiceMe\ViewModel\Customer\CustomerInvoiceMe;

/** @var CustomerInvoiceMe $viewModel */
/** @var Template $block */
$viewModel = $block->getData('view_model');
$buyerStatus = $viewModel->getBuyerStatus();
?>

<?php if (!$buyerStatus): ?>
    <div class="invoiceMeApply__wrapper">
        <div class="invoiceMeApply__header">
            <img class="invoiceMeApply__logo"
                 src="<?= $block->escapeHtmlAttr($block->getViewFileUrl('Msts_InvoiceMe::images/invoiceme-logo.svg')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('InvoiceMe')) ?>"/>
            <h6 class="invoiceMeApply__title">
                <?= $block->escapeHtml(__('Invoicing made easy')) ?>
            </h6>
            <a class="invoiceMeApply__link"
               href="<?= $block->escapeUrl($viewModel->getApplyForCreditUrl()) ?>">
                <?= $block->escapeHtml(__('Apply Now')) ?></a>
        </div>
        <div class="invoiceMeApply__section invoiceMeApply__section--features">
            <h6 class="invoiceMeApply__sectionTitle"><?= $block->escapeHtml(__('Features')) ?></h6>
            <div class="invoiceMeApply__sectionContent">
                <div class="invoiceMeApply__featureBox">
                    <img class="invoiceMeApply__featureBoxImage"
                         src="<?= $block->escapeHtmlAttr($block->getViewFileUrl('Msts_InvoiceMe::images/feature-1.svg')) ?>"
                         alt="<?= $block->escapeHtmlAttr(__('Flexible Terms')) ?>"/>
                    <h4 class="invoiceMeApply__featureBoxTitle">
                        <?= $block->escapeHtml(__('Flexible Terms')) ?>
                    </h4>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Approval for a Line of Credit')) ?>
                    </p>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Up to 45 Days to Pay')) ?>
                    </p>
                </div>
                <div class="invoiceMeApply__featureBox">
                    <img class="invoiceMeApply__featureBoxImage"
                         src="<?= $block->escapeHtmlAttr($block->getViewFileUrl('Msts_InvoiceMe::images/feature-2.svg')) ?>"
                         alt="<?= $block->escapeHtmlAttr(__('Invoicing Your Way')) ?>"/>
                    <h4 class="invoiceMeApply__featureBoxTitle">
                        <?= $block->escapeHtml(__('Invoicing Your Way')) ?>
                    </h4>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Accounts Payable Integration')) ?>
                    </p>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Connect with Purchase Orders')) ?>
                    </p>
                </div>
                <div class="invoiceMeApply__featureBox">
                    <img class="invoiceMeApply__featureBoxImage"
                         src="<?= $block->escapeHtmlAttr($block->getViewFileUrl('Msts_InvoiceMe::images/feature-3.svg')) ?>"
                         alt="<?= $block->escapeHtmlAttr(__('Easy Checkout')) ?>"/>
                    <h4 class="invoiceMeApply__featureBoxTitle">
                        <?= $block->escapeHtml(__('Easy Checkout')) ?>
                    </h4>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Zero Friction')) ?>
                    </p>
                    <p class="invoiceMeApply__featureBoxParagraph">
                        <?= $block->escapeHtml(__('Company Wide Purchasing')) ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="invoiceMeApply__section invoiceMeApply__section--howitworks">
            <h6 class="invoiceMeApply__sectionTitle"><?= $block->escapeHtml(__('How it works')) ?></h6>
            <div class="invoiceMeApply__sectionContent">
                <h4 class="invoiceMeApply__howItWorksStep"><?= $block->escapeHtml(__('Provide Business Info')) ?></h4>
                <span class="invoiceMeApply__howItWorksArrow"></span>
                <h4 class="invoiceMeApply__howItWorksStep"><?= $block->escapeHtml(__('Fast Approval')) ?></h4>
                <span class="invoiceMeApply__howItWorksArrow"></span>
                <img class="invoiceMeApply__howItWorksStep invoiceMeApply__howItWorksStep--image"
                     src="<?= $block->escapeHtmlAttr($block->getViewFileUrl('Msts_InvoiceMe::images/invoiceme-logo.svg')) ?>"
                     alt="<?= $block->escapeHtmlAttr(__('InvoiceMe')) ?>"/>
            </div>
        </div>
    </div>
<?php elseif ($viewModel->shouldDisplayMessageOnly()): ?>
    <p><?= /* @noEscape */ $viewModel->getMessage() ?></p>
<?php else: ?>
    <div class="block block-dashboard-info">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Credit Information')) ?></strong></div>
        <div class="block-content">
            <ul class="invoiceMeCreditDetails">
                <li>
                    <label class="invoiceMeCreditDetails__label"><?= $block->escapeHtml(__('Approved Limit')) ?></label>
                    <span class="invoiceMeCreditDetails__value"><?= $block->escapeHtml($viewModel->getMstsImCreditApproved()) ?></span>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label"><?= $block->escapeHtml(__('Balance')) ?></label>
                    <span class="invoiceMeCreditDetails__value"><?= $block->escapeHtml($viewModel->getMstsImCreditBalance()) ?></span>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label"><?= $block->escapeHtml(__('Preauthorized')) ?></label>
                    <span class="invoiceMeCreditDetails__value"><?= $block->escapeHtml($viewModel->getMstsImCreditPreauthorized()) ?></span>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label"><?= $block->escapeHtml(__('Available')) ?></label>
                    <span class="invoiceMeCreditDetails__value"><?= $block->escapeHtml($viewModel->getMstsImCreditAvailable()) ?></span>
                </li>
            </ul>
            <p><?= /* @noEscape */ __('Visit the InvoiceMe Portal to view your invoices, increase your credit line, or make a payment.') ?></p>
            <p>
                <a href="<?= /* @noEscape */ $viewModel->getBuyerPortalUrl() ?>" class="action button primary" target="_blank"><?= $block->escapeHtml(__('InvoiceMe Portal')) ?></a>
            </p>
        </div>
    </div>
<?php endif; ?>
