<?php
declare(strict_types=1);

/** @var Msts\InvoiceMe\Block\Adminhtml\Order\View\Info\PaymentDetails $block */
$poNumber = $block->getPayment()->getAdditionalInformation('invoiceme_po_number') ?: '-';
$notes = $block->getPayment()->getAdditionalInformation('invoiceme_notes') ?: '-';
?>
<dl class="msts_invoiceme_payment_details">
    <dt><?= $block->escapeHtml(__('Purchase Order Number')) ?></dt>
    <dd>
        <?php if ($poNumber === '-'): ?>
            <strong>-</strong>
        <?php else: ?>
            <textarea id="msts_invoiceme_po_number" cols="40" rows="4" maxlength="200" readonly><?= $block->escapeHtml($poNumber) ?></textarea>
        <?php endif; ?>
    </dd>

    <dt><?= $block->escapeHtml(__('Notes')) ?></dt>
    <dd>
        <?php if ($notes === '-'): ?>
            <strong>-</strong>
        <?php else: ?>
            <textarea id="msts_invoiceme_notes" cols="40" rows="10" maxlength="1000" readonly><?= $block->escapeHtml($notes) ?></textarea>
        <?php endif; ?>
    </dd>
</dl>
