<?php
declare(strict_types=1);

use Msts\InvoiceMe\Block\Adminhtml\System\Config\Form\Field\DeleteWebhooks;

/** @var DeleteWebhooks $block */
?>

<td class="value">
    <button id="payment_msts_invoiceme_delete_webhooks"
            class="msts_invoiceme_delete_webhooks action-default"
            type="button">
        <span><?= $block->escapeHtml(__('Delete Webhooks')) ?></span>
    </button>
    <p class="note"><span><?= $block->escapeHtml(__('Make sure to "Save Config" before using this button')) ?></span></p>
</td>
