<?php
declare(strict_types=1);

use Msts\InvoiceMe\Block\Adminhtml\System\Config\Form\Field\WebhookStatus;

/** @var WebhookStatus $block */
$checkResult = $block->getData('check_result');
?>

<td id="payment_msts_invoiceme_status" class="msts_invoiceme_status">
    <div data-message-type="created"
         class="message <?= isset($checkResult['statusCreated']) ? 'message-' . $block->escapeHtmlAttr($checkResult['statusCreated']) : 'hidden' ?>">
        <?= $block->escapeHtml($checkResult['messageCreated'] ?? '') ?>
    </div>
    <div data-message-type="apikey"
         class="message <?= isset($checkResult['statusApiKey']) ? 'message-' . $block->escapeHtmlAttr($checkResult['statusApiKey']) : 'hidden' ?>">
        <?= $block->escapeHtml($checkResult['messageApiKey'] ?? '') ?>
    </div>
    <div data-message-type="baseUrl"
         class="message <?= isset($checkResult['statusBaseUrl']) ? 'message-' . $block->escapeHtmlAttr($checkResult['statusBaseUrl']) : 'hidden' ?>">
        <?= $block->escapeHtml($checkResult['messageBaseUrl'] ?? '') ?>
    </div>
    <div data-message-type="tooltip" class="admin__field-tooltip <?= $block->escapeHtmlAttr($checkResult['tooltip']) ? '' : 'hidden' ?>">
        <a class="admin__field-tooltip-action action-help" href="javascript:void(0);"></a>
        <div class="admin__field-tooltip-content"><?= $block->escapeHtml($checkResult['tooltip'] ?? '', ['p', 'strong', 'a']) ?></div>
    </div>
</td>

<script type="text/x-magento-init">
{
    "#payment_msts_invoiceme_status": {
        "Msts_InvoiceMe/js/webhook_status": {
            "checkCreatedWebhooksUrl": "<?= $block->escapeJs($block->getCheckCreatedWebhooksUrl()) ?>",
            "recreateCreatedWebhooksUrl": "<?= $block->escapeJs($block->getRecreateCreatedWebhooksUrl()) ?>",
            "deleteCreatedWebhooksUrl": "<?= $block->escapeJs($block->getDeleteCreatedWebhooksUrl()) ?>",
            "deleteConfirmMessage": "<?= $block->escapeHtml(__('Are you sure you want to delete the webhooks?'))?>"
        }
    }
}
</script>
