//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .invoiceMeCreditDetails {
        list-style: none;
        margin-bottom: 3rem;
        padding: 0;
        width: 320px;

        li:after {
            content: '';
            clear: both;
            display: table;
        }

        .invoiceMeCreditDetails__label {
            display: block;
            float: left;
            font-weight: bold;
            width: 160px;

            &:after {
                content: ':';
            }
        }

        .invoiceMeCreditDetails__value {
            display: block;
            float: left;
            text-align: right;
            width: 160px;
        }
    }

    .invoiceMeApply__wrapper {
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #d2d2d2;
        border-radius: 4px;
        padding: 0 20px 20px;
    }

    .invoiceMeApply__header {
        .lib-vendor-prefix-display();
        .lib-vendor-box-align(center);
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        padding: 15px 20px 20px 0;
        border-bottom: 2px solid #d2d2d2;
    }

    .invoiceMeApply__logo {
        width: 155px;
        margin-right: 16px;
    }

    .invoiceMeApply__link {
        height: 48px;
        padding: 0 50px;
        margin-left: auto;
        font-weight: 800;
        line-height: 48px;
        letter-spacing: 1px;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        border-radius: 50px;
        background-color: #0078bf;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0078bf), to(#0d96e6));
        background-image: linear-gradient(180deg, #0078bf, #0d96e6); /* stylelint-disable-line unit-whitelist */
        box-shadow: 0 8px 14px 0 rgba(33, 33, 33, .2);

        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: #fff;
            text-decoration: none;
        }
    }

    .invoiceMeApply&__title,
    .invoiceMeApply__sectionTitle {
        color: #0078bf;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .invoiceMeApply__title {
        margin: 7px 0 0;
    }

    .invoiceMeApply__sectionTitle {
        margin-top: 32px;
        margin-bottom: 24px;
        text-align: center;
    }

    .invoiceMeApply__section--features {
        .invoiceMeApply__sectionContent {
            .lib-vendor-prefix-display();
            .lib-vendor-box-align(flex-start);
            .lib-vendor-prefix-flex-wrap();
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            justify-content: space-around;
            padding: 32px 0 30px;
        }
    }


    .invoiceMeApply__section--howitworks {
        .invoiceMeApply__sectionContent {
            .lib-vendor-prefix-display();
            .lib-vendor-box-align(center);
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            justify-content: space-around;
            padding: 0 0 40px;
        }
    }


    .invoiceMeApply__featureBox {
        padding: 0 10px;
        box-sizing: border-box;
        max-width: 280px;
        text-align: center;
        margin-bottom: 20px;
    }

    .invoiceMeApply__featureBoxImage {
        width: 64px;
    }

    .invoiceMeApply__featureBoxTitle {
        margin: 10px 0 20px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #333;
    }

    .invoiceMeApply__featureBoxParagraph {
        margin-bottom: 12px;
        font-size: 14px;
        color: rgba(33, 33, 33, .6);
    }

    .invoiceMeApply__howItWorksStep {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #212121;
    }

    .invoiceMeApply__howItWorks--image {
        width: 116px;
    }

    &.invoiceMeApply__howItWorksArrow {
        position: relative;
        height: 2px;
        width: 20px;
        background-color: #0078bf;

        &:after {
            content: '';
            position: absolute;
            top: -9px;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;
            background-color: #0078bf;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#0078bf), to(#0d96e6));
            background-image: linear-gradient(180deg, #0078bf, #0d96e6); /* stylelint-disable-line unit-whitelist */
            border-radius: 50%;
        }

        &:before {
            content: '\203A';
            position: absolute;
            top: -9px;
            right: 0;
            z-index: 2;
            display: block;
            width: 20px;
            height: 20px;
            font-size: 28px;
            line-height: 14px;
            text-align: center;
            color: #fff;
        }
    }


}

//
//  Mobile 639
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .invoiceMeApply__header {
        padding: 15px 0;
        .lib-vendor-prefix-flex-direction();
    }

    .invoiceMeApply__logo {
        width: 155px;
        margin: 0;
    }

    .invoiceMeApply__link {
        margin: 20px auto 0;
    }

    .invoiceMeApply__section--features,
    .invoiceMeApply__section--howitworks {
        .invoiceMeApply__sectionContent {
            .lib-vendor-prefix-flex-direction();
        }
    }

    .invoiceMeApply__section--features {
        .invoiceMeApply__sectionContent {
            .lib-vendor-box-align(center);
        }
    }

    .invoiceMeApply__featureBox {
        margin-bottom: 20px;
    }

    .invoiceMeApply__howItWorksArrow {
        height: 20px;
        background: transparent;
        margin: 20px 0;

        &:after,
        &:before {
            top: 0;
        }

        &:before {
            transform: rotate(90deg); /* stylelint-disable-line unit-whitelist */
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .invoiceMeApply__logo {
        width: 110px;
    }
}

//
//  Desktop 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .invoiceMeApply__howItWorksArrow {
        width: 20px;
    }
}

//
//  Desktop 1024
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .invoiceMeApply__wrapper {
        padding: 0 60px 20px;
    }

    .invoiceMeApply__howItWorksArrow {
        width: 100px;
    }
}

//
//  Desktop 1440
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .invoiceMeApply__howItWorksArrow {
        width: 160px;
    }
}
