<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <!-- ko if: (isRegisteredButNotActiveBuyer()) -->
        <label class="label">
            <span><!-- ko i18n: 'InvoiceMe payment method is currently not available to you. Please visit the InvoiceMe section to find more details.'--><!-- /ko --></span>
        </label>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="button"
                        data-bind="
                                    click: invoiceMeSectionClick,
                                    attr: {title: $t('InvoiceMe')},
                                    enable: (getCode() == isChecked())
                                    "
                        disabled>
                    <span data-bind="i18n: 'InvoiceMe'"></span>
                </button>
            </div>
        </div>
    <!-- /ko -->
    <!-- ko ifnot: (isRegisteredButNotActiveBuyer()) -->
        <!-- ko if: (isNotRegisteredBuyer()) -->
            <label class="label">
                <span><!-- ko i18n: 'You are not yet a registered InvoiceMe user. You will be redirected to the InvoiceMe credit application form after placing this order. Your order will be processed after approval of your InvoiceMe credit application and InvoiceMe user account is created.'--><!-- /ko --></span>
            </label>
        <!-- /ko -->
        <!-- ko ifnot: (isNotRegisteredBuyer())-->
            <ul class="invoiceMeCreditDetails">
                <li>
                    <label class="invoiceMeCreditDetails__label" data-bind="i18n: 'Approved Limit'"></label>
                    <span class="invoiceMeCreditDetails__value" html="formatPrice(creditApprovedLimit())"></span>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label" data-bind="i18n: 'Balance'"></label>
                    <span class="invoiceMeCreditDetails__value" html="formatPrice(creditBalance())"></span>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label" data-bind="i18n: 'Preauthorized'"></label>
                    <span class="invoiceMeCreditDetails__value" html="formatPrice(creditPreauthorized())"></span>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <label class="invoiceMeCreditDetails__label" data-bind="i18n: 'Available'"></label>
                    <span class="invoiceMeCreditDetails__value" html="formatPrice(creditAvailable())"></span>
                </li>
            </ul>
            <div class="field required">
                <label data-bind="attr: {for: getCode() + '_invoiceme_po_number'}" class="label">
                    <span><!-- ko i18n: 'Purchase Order Number'--><!-- /ko --></span>
                </label>

                <div class="control">
                    <input type="text" name="payment[invoiceme_po_number]"
                           class="select"
                           data-bind=" value: invoicemePoNumber, attr: {maxlength: getMaxLengthForPurchaserOrderNumber()}" />
                </div>
            </div>

            <div class="field required">
                <label data-bind="attr: {for: getCode() + '_invoiceme_notes'}" class="label">
                    <span><!-- ko i18n: 'Notes'--><!-- /ko --></span>
                </label>

                <div class="control">
                    <textarea type="text" name="payment[invoiceme_notes]"
                              class="select"
                              data-bind=" value: invoicemeNotes, attr: {maxlength: getMaxLengthForNotes()}">
                    </textarea>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->
</div>
